@import "../_vars";

.createAttendant {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10rem;
  margin-top: 5rem;

  &__title {
    font-size: 1.5rem;
    color: $neutral-darker;
    font-weight: 800;
    text-align: center;
    margin: 0;

    &.--account {
      text-align: left;
      color: #000;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  &__stepsIndicator {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
      flex-grow: 1;
      background-color: $neutral;
      padding: 0.5rem 0;
      border-radius: 2rem;
      color: #fff;
      font-size: 0.875rem;
      text-align: center;
      font-weight: 700;
      cursor: pointer;

      &.--create-account {
        max-width: fit-content;
        width: 100%;
        min-width: 7.2rem;
      }

      &.--disabled {
        background-color: transparent;
        color: #000;
      }
    }

    &__dots {
      display: flex;
      align-items: center;
      overflow: hidden;
      color: #b1b1b1;
      font-size: 2rem !important;

      &__dot {
        display: flex;
        align-items: center;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__button {
      width: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: $neutral-darker;
      color: #fff;
      border: 0;
      font-weight: 500;
      box-shadow: 0 0 1rem 0 $neutral;

      &:disabled {
        box-shadow: none;
        opacity: 0.5;
      }
    }
  }
}
