@import "../_vars";

.createAttendantSteps {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__inputAndLabel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    &__showPassword {
      position: absolute;
      top: 1.6rem;
      right: 1rem;
      font-size: 1.5rem;
      color: $neutral-darker;
    }

    & label {
      font-size: 0.875rem;
      color: #333333;
    }

    & input {
      padding: 0.75rem 1rem;
      width: 100%;
      border: 1px solid #00000066;
      border-radius: 0.5rem;

      &:disabled {
        background: #e1e1e1;
      }
    }
  }

  &__gender {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    font-size: 0.875rem;

    & label {
      display: flex;
      gap: 0.5rem;
      color: #000000;
    }
  }

  &__twoInputs {
    display: flex;
    gap: 1rem;
  }

  &__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 2rem 0;

    &__image {
      border-radius: 15rem;
      width: 15rem;
      height: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
    }

    &__change {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0092ff;
      font-size: 3rem;
      border-radius: 50%;
      padding: 0.5rem;
      position: absolute;
      bottom: 0rem;
      right: 0rem;
      color: #fff;
    }

    &__container {
      position: relative;
      max-width: fit-content;

      & input {
        display: none;
      }
    }
  }

  &__inputInvalid {
    border: 1px solid red !important;
  }

  &__inputError {
    margin-top: 0.5rem;
    color: red;
    font-size: 0.75rem;
  }
}
