@import "../vars";

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -8rem 0 16rem 16rem #00000094;
  position: absolute;
  top: 0;
  display: none;
  z-index: 2;

  &.open {
    display: flex;
    flex-direction: column;
    right: 0;
  }

  &__hamburger-icon {
    font-size: 30px;
    color: #000;
    cursor: pointer;
  }

  &__header {
    background-color: $neutral;
    position: relative;
    min-height: 3.5rem;
    box-shadow: 0.5rem 0 1rem 0 $neutral;

    &__exit {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: center;
      cursor: pointer;
      background-color: gray;
      width: 100%;
      font-size: 1rem;
      background-color: $neutral-darker;
      padding: 0.5rem;
      border-radius: 2rem;
      color: #fff;
      text-shadow: none;

      & svg {
        color: #fff !important;
      }
    }

    &__profile {
      display: flex;
      flex-direction: column;
      color: #fff;
      gap: 1rem;
      font-weight: 500;
      font-size: 1.25rem;
      text-shadow: 2px 2px 2px rgb(0 0 0 / 45%);
      justify-content: center;
      align-items: center;
      padding: 1rem;

      &__photo {
        border-radius: 8rem;
        width: 8rem;
        height: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
      }
    }

    &__close {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 1.6rem;
      height: 1.6rem;
      border: 2px solid #000;
      top: 1rem;
      right: 1rem;
      padding: 0.2rem;
      position: absolute;
      cursor: pointer;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 0;
    position: relative;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #000;
      margin-bottom: 0;
      padding: 1.5rem;
      cursor: pointer;
      border-bottom: 1px solid #000;
      font-size: 0.875rem;
      font-weight: 500;
      width: 100%;
      text-decoration: none;

      &::after {
        content: ">";
        font-weight: bolder;
        position: absolute;
        right: 1rem;
        font-size: 1.2rem;
      }
    }
  }
}
