@import "../vars";

.successScreen {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #9363a7;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5rem;
  color: #fff;
  padding: 2rem;

  &__title {
    margin: 0;
    font-size: 1.5rem;
  }  

  &__link {
    width: 100%;
    margin-top: .5rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5rem;
    text-decoration: none;
  }
}
