@import "../../../styles/vars";

.scheduling {
  padding: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__change {
      display: flex;
      justify-content: flex-end;
      
      & a {
        background-color: #64008e;
        padding: 1rem;
        border-radius: 5rem;
        color: #fff;
        text-decoration: none;
      }
    }

    &__inputCep {
      padding: 0.75rem 1rem;
      width: 100%;
      border: 1px solid #00000066;
      border-radius: 2rem;
    }

    & h1,
    & p {
      font-size: 1rem;
      margin: none !important;
      font-weight: 500;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 5rem;
  }

  &__inPerson {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      list-style: none;
    }

    &__place {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: #226597;
      padding: 1rem;
      border-radius: 1rem;
      gap: 1rem;
      position: relative;
      overflow: hidden;
    }

    &__icon {
      position: absolute;
      top: -2rem;
      left: -4rem;
      font-size: 10rem;
      color: #fff;
      opacity: 0.2;
    }

    &__select {
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;

      & h2 {
        font-size: 1.125rem;
        font-weight: 500;
        margin: 0;
      }

      & button {
        background-color: #64008e;
        border: none;
        padding: 1rem;
        color: #fff;
        border-radius: 5rem;
        margin-top: 3rem;
        cursor: pointer;
      }
    }

    &__image {
      width: 100%;
      height: 15rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      border-radius: 1rem;
    }
  }

  &__days {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #eef4fe;
    text-align: center;
    padding: 0.875rem 1rem;
    border-radius: 1rem;
    max-width: 3.625rem;
    width: 100%;
    cursor: pointer;

    &.--selected {
      background-color: #9f89f6;
      color: #fff;
    }

    &.--disabled {
      opacity: 0.2;
      pointer-events: none;
    }

    &__text {
      font-size: 0.875rem;
      font-weight: 400;
    }

    &__number {
      font-size: 1.125rem;
      font-weight: 800;
    }
  }

  &__times {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
  }

  &__time {
    border: 1px solid #00000080;
    padding: 0.875rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;

    &.--selected {
      background-color: #9f89f6;
      color: #fff;
      border: 1px solid transparent;
    }

    &.--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__selectAttendant {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__attendant {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2rem;

      &__photo {
        border-radius: 50%;
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & p {
          font-size: 1.125rem;
          font-weight: 500;
        }
      }

      &__about {
        text-align: start;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        & p {
          font-size: 1.125rem;
          font-weight: 500;
        }
      }
    }

    &__actions {
      display: flex;
      gap: 1.5rem;

      & button {
        width: 100%;
        color: #fff;
        padding: 1rem;
        font-size: 1.125rem;
        border-radius: 2rem;
        cursor: pointer;
        border: none;
        background-color: #9f89f6;

        &:disabled {
          opacity: 0.5;
          background-color: gray;
          pointer-events: none;
        }
      }
    }
  }

  &__footer {
    & button {
      width: 100%;
      margin-top: 5rem;
      background-color: $neutral-darker;
      color: #fff;
      border: none;
      padding: 1rem;
      font-size: 1.125rem;
      border-radius: 2rem;
      cursor: pointer;

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
