@import "../../../styles/_vars";

.patients {
  padding: 1rem;
  margin-bottom: 10rem;
  margin-top: 5rem;

  &__title {
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    & a {
      background-color: $neutral-darker;
      border: none;
      padding: 1rem;
      color: #fff;
      border-radius: 5rem;
      cursor: pointer;
      text-decoration: none;
      margin-top: 1rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__noPatients {
    text-align: center;
  }
}
