@import "../vars";

.schedulesItem {
  display: flex;
  flex-direction: column;
  background-color: #eef4fe;
  border-radius: 0.5rem;

  &__header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    gap: 1.125rem;
    border-bottom: 1px solid #0000001a;

    &__photo {
      border-radius: 50%;
      overflow: hidden;
    }

    &__details {
      display: flex;
      flex-direction: column;

      &__name {
        font-size: 1.2rem;
        font-weight: 500;
      }

      &__type {
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
  }

  &__status {
    position: absolute;
    right: 3rem;
    background: gray;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.875rem;

    &.--inPerson {
      background-color: #774372;
    }

    &.--online {
      background-color: #c49cc0;
    }
  }

  &__content {
    padding: 1.5rem;

    &__agenda {
      display: flex;
      gap: 1.125rem;
      font-size: 0.9rem;
      font-weight: 400;

      &__item {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        & svg {
          font-size: 1.4rem;
          color: #00000080;
          margin-bottom: 0.2rem;
        }
      }
    }

    &__place {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 0.875rem;

      &__item {
        display: flex;
        gap: 1rem;
        align-items: center;
      }

      & svg {
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.5019607843);
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      margin-top: 1.125rem;

      &__cancel {
        background-color: $orange;
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
      }

      &__enter {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        color: #5f7aff;
        font-weight: 800;

        & svg {
          font-size: 1.4rem;
          color: #00000080 !important;
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}
